.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -2px;
  padding: 35px 0;
  border-top: 2px solid $grey3;
  border-bottom: 2px solid $grey3;

  &-previous,
  &-next {
    display: inline-block;
    width: 36px;
    height: 42px;
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -9999px;
  }

  &-view_all {
    font-size: .875em;
    font-weight: 500;
    letter-spacing: .075em;
    text-transform: uppercase;
    color: $red;

    &:hover,
    &:focus {
      color: darken($red, 10%);
    }
  }
}
