<!--=include components/_head.html -->
<body>
  <!--=include components/_header.html -->
  <main role="main" class="content">
    {block:SearchPage}
      <div class="result">
        <p>{lang:Found SearchResultCount results for SearchQuery 2}</p>
        {block:NoSearchResults}<p>{lang:No results for SearchQuery 2}</p>{/block:NoSearchResults}
      </div>
    {/block:SearchPage}

    {block:TagPage}
      <div class="result">
        <p>{lang:TagResultCount posts tagged Tag 3}</p>
      </div>
    {/block:TagPage}

    {block:Posts}
      <article class="post {PostType} {TagsAsClasses}">
        {block:Date}
          {block:NewDayDate}<p>{DayOfWeek}, {Month} {DayOfMonth}, {Year}</p>{/block:NewDayDate}
          {block:SameDayDate}<p>{DayOfWeek}, {Month} {DayOfMonth}, {Year}</p>{/block:SameDayDate}
        {/block:Date}

        <!--=include posts/_text.html -->
        <!--=include posts/_quote.html -->
        <!--=include posts/_link.html -->
        <!--=include posts/_audio.html -->
        <!--=include posts/_photo.html -->
        <!--=include posts/_photoset.html -->
        <!--=include posts/_panorama.html -->
        <!--=include posts/_video.html -->
        <!--=include posts/_chat.html -->
        <!--=include posts/_answer.html -->

        {block:IndexPage}
          {LikeButton color="grey"}
          {ReblogButton color="grey"}
          <p><a href="{Permalink}" class="permalink">{lang:Permalink}</a></p>
        {/block:IndexPage}

      </article>
    {/block:Posts}
    <!--=include components/_pagination.html -->
  </main>
  <!--=include components/_footer.html -->
<!--=include components/_foot.html -->
