{block:Audio}
  {block:AlbumArt}<img src="{AlbumArtURL}" alt="">{/block:AlbumArt}
  <div class="audio-player">
    {block:AudioEmbed}
      {AudioEmbed color="white"}
    {/block:AudioEmbed}
    {block:AudioPlayer}{AudioPlayerBlack}{/block:AudioPlayer}
  </div>
  {block:Caption}<div class="caption">{Caption}</div>{/block:Caption}
{/block:Audio}
