{block:Video}
  <figure{block:Caption} class="with-caption"{/block:Caption}>
    <div class="video-player">
        {Video-700}
    </div>
    {block:Caption}<figcaption class="caption">{Caption}</figcaption>{/block:Caption}
  </figure>
{/block:Video}
