@import "../bower_components/bourbon/dist/bourbon";
@import "base/base";
@import "components/all";
@import "layout/all";

body {
  @include retina-image("/img/bg", 400px 400px, jpg, "/img/bg_2x", _2x);
  padding: 0 20px;
  background-color: #fafafa;
  background-position: center top;
  background-repeat: repeat;
  color: $blue;
}

.main {
  @extend .wrap;
}
