{block:PermalinkPagination}
  <div class="pagination">
    {block:PreviousPost}<a class="prev"href="{PreviousPost}">{lang:Previous post}</a>{/block:PreviousPost}
    {block:NextPost}<a class="next" href="{NextPost}">{lang:Next post}</a>{/block:NextPost}
  </div>
{/block:PermalinkPagination}

{block:Pagination}
  <div class="pagination">
    {block:PreviousPage}<a class="prev" href="{PreviousPage}">{lang:Previous}</a>{/block:PreviousPage}

    {block:JumpPagination length="5"}
      {block:CurrentPage}<span class="current-page">{PageNumber}</span>{/block:CurrentPage}
      {block:JumpPage}<a class="jump-page" href="{URL}">{PageNumber}</a>{/block:JumpPage}
    {/block:JumpPagination}

    {block:NextPage}<a class="next" href="{NextPage}">{lang:Next}</a>{/block:NextPage}
  </div>
{/block:Pagination}
