button,
.button,
input[type="submit"] {
  @extend %button;
  @include transition(background-color .15s ease-in-out, color .15s ease-in-out);
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-transform: uppercase;
}
