// Typography
$sans-serif: "Gotham", $helvetica;
$serif: "Austin", $georgia;
$base-font-family: $sans-serif;
$header-font-family: $serif;
$display: $sans-serif;

// Sizes
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$unitless-line-height: $base-line-height / ($base-line-height * 0 + 1); // Strip units from line-height: https://developer.mozilla.org/en-US/docs/Web/CSS/line-height#Prefer_unitless_numbers_for_line-height_values
$header-line-height: $base-font-size * 1.25;
$base-border-radius: em(3);
$base-spacing: 3%;

// Colors
$black: #000;
$white: #ffffff;
$blue: #221d5a;
$dark-blue: #1b183a;
$yellow: yellow;
$greeen: green;
$red: #c82c27;
$pink: pink;
$purple: purple;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #DDD;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

// Grey Scale
$grey1: #f9f9f9; $grey: $grey1;
$grey2: #F4F4F4;
$grey3: #e2e2e2; // Grid lines
$grey4: #d3d3d2;
$grey5: #5f6165;
$grey6: #292B30;
$grey7: #1a1a1a;
$grey8: #0a0a0a;

// Brand Colors
$facebook-alt: #0071BC;
$facebook: #267ABD;
$twitter: #12c1fd;
$instagram: #2A4776;
$linkedin: #0268A7;
$dribbble: #ea4c89;
$tumblr: #34526f;

// Background Color
$base-background-color: white;

// Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $red;

// Link Colors
$base-link-color: $blue;
$hover-link-color: $base-accent-color;
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Border color
$base-border-color: $light-gray;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;
